h1{
  color: #00205b;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 16px;
  text-align: center;
}
.image-with-a{
  text-align: center;
}
.image-with-a a {
  display: block;
  margin-top: 8px;
  color: #00205b;
  text-decoration: none;
}
.image-with-a a:hover {
  text-decoration: underline;
}
