h1{
  color: rgb(0, 32, 91);
  text-align: center;
  margin: 0px 0px 16px;
  padding: 0px;
  border-width: 0px;
  font: 500 24px / 1.25 "Lora", "Noto Sans JP", serif;
  display: block;
}

.image-with-a{
  text-align: center;
}
.image-with-a a {
  color: #00205b;
  text-decoration: none;
}
.image-with-a a:hover {
  text-decoration: underline;
}

  



