h1{
  color: rgb(0, 32, 91);
  text-align: center;
  margin: 0px 0px 16px;
  padding: 0px;
  border-width: 0px;
  font: 500 24px / 1.25 "Lora", "Noto Sans JP", serif;
  display: block;
}

.image-with-a{
  text-align: center;
}
.image-with-a a {
  color: #00205b;
  text-decoration: none;
}
.image-with-a a:hover {
  text-decoration: underline;
}
:root {
  --primary-color: #00205b;
  --secondary-bg: #d9dbde;
  --item-gap: 20px;
  --hover-scale: 1.1;
}

body {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.japanese-text {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 4px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--item-gap);
}

.image-item {
  width: calc(25% - var(--item-gap));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden; 
}

.image-item img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease; 
  transform-origin: center; 
  position: relative; 
  z-index: 1;
}

.image-item a {
  color: var(--primary-color); 
  font-weight: bold;
  word-break: keep-all;
  background-color: var(--secondary-bg); 
  padding: 10px 12px; 
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  align-items: flex-start; 
  width: 100%; 
  box-sizing: border-box; 
  text-decoration: none;
  unicode-bidi: isolate;
  height: 60px; 
  z-index: 2;
  font-family: "Lora", "Noto Sans JP", serif;
}

.image-item:hover img {
  transform: scale(var(--hover-scale)); 
}

.image-item:hover a {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .image-item {
    width: calc(50% - 15px);
  }
}

@media (max-width: 600px) {
  .image-item {
    width: 100%;
  }
}

  



